@charset "UTF-8";

body{
background-color: #65948494;
color: #313030;
}

div{
    display: inline-block;
    background-color: #d3d3d3;
    text-align: center;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    }
    div:hover{
      background-color: #daa520;  
    }